<?php
/** @var Narushevich\Banner\Block\Adminhtml\Widget\Chooser $block */
?>
<input type="hidden" name="<?php echo $block->getElement()->getName()?>" id="in_widget_banners" data-form-part="widget_form"
       value=""/>
<?php echo $block->getGridHtml(); ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Narushevich_Banner/widget/chooser": {
                "selectedBanners": <?php echo $block->escapeJsQuote($block->getBannersJson()); ?>,
                "gridJsObjectName": "<?php echo $block->escapeHtml($block->getGridJsFormName()) ?>"
            }
        }
    }
</script>

<script>
    require(['mage/apply/main']).apply();
</script>