<?php
/* @var $block \Narushevich\Banner\Block\Widget\Banner */
?>
<ul>
    <?php foreach ($block->getBanners() as $banner): ?>
        <li class="<?php echo $block->escapeHtml($banner->getFrontendClass()); ?>">
            <!-- Banner position: <?php echo $block->getBannerPosition($banner); ?> -->
            <a
                    href="<?php echo $block->escapeHtml($banner->getUrl()); ?>"
                    target="<?php echo $banner->getIsUrlExternal() ? '_blank' : '_self'; ?>"
            >
                <?php if ($banner->getImage()): ?>
                    <img
                            alt="<?php echo $block->escapeHtml($banner->getName()); ?>"
                            src="<?php echo $this->helper(\Narushevich\Banner\Helper\Image::class)->getUrl($banner->getImage(), 'default_banner'); ?>" />
                <?php endif; ?>
                <?php if ($banner->getMobileImage()): ?>
                    <img
                            alt="<?php echo $block->escapeHtml($banner->getName()); ?>"
                            src="<?php echo $this->helper(\Narushevich\Banner\Helper\Image::class)->getUrl($banner->getMobileImage(), 'default_banner', 'mobile'); ?>" />
                <?php endif; ?>
                <?php if ($banner->getTableImage()): ?>
                    <img
                            alt="<?php echo $block->escapeHtml($banner->getName()); ?>"
                            src="<?php echo $this->helper(\Narushevich\Banner\Helper\Image::class)->getUrl($banner->getTableImage(), 'default_banner', 'tablet'); ?>" />
                <?php endif; ?>
            </a>
            <?php echo $block->getBannerContent($banner); ?>
        </li>
    <?php endforeach; ?>
</ul>
