<?php
/** @var \Magento\Backend\Block\Cache\Additional $block */
?>
<p>
    <button onclick="setLocation('<?php /* @escapeNotVerified */ echo $block->getUrl('media_image/cache/clean') ?>')" type="button">
        <?php /* @escapeNotVerified */ echo __('Flush Generated Images Cache') ?>
    </button>
</p>